/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    text-align: center;
    width: 60%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* border: 2px solid red; */
/* }
span{
    /* border: 2px solid orange; */
    /* font-size: 4rem; */
/* } */
/* button{
    padding: 0.3rem 0.5rem;
    border-radius: 8px;
    background-color: white;
    font-weight: 600;
    margin: 0 0.5rem;
} */ 
h2{
    font-size: 2.5rem;
    font-family: sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    text-align: center;
    width: 70%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.value{
    font-size: 80px;
}
.row{
    margin-top: 1rem;
}
.btn{
    padding: 0.3rem 0.5rem;
    border-radius: 8px;
    font-weight: bold;
    margin: 0.5rem;
    background-color: white;
    letter-spacing: 0.15em;
}
.btn:hover{
    background-color: plum;
}